<table>
	<thead>
		<th>Title</th>
		<th>Price</th>
		<th>Category</th>
	</thead>
	<tbody>
<% @products.each do |product| %>
		<tr>
			<td>
				<%= link_to(product.title, product_path(product))%>		
			</td>
			<td>
				<%= product.price %>
			</td>
			<td>
				<%= product.category.title %>
			</td>
			<td>
				<%= link_to('Edit', edit_product_path(product))%>		
			</td>
		</tr>
<% end %>
	</tbody>
</table>
<p><%= link_to('Create a new Product', new_product_path) %></p>
